# SPDX-FileCopyrightText: 2026 Fatih AKTAS <akfatih2@gmail.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
.venv/
__pycache__/
*.pyc
.env
.env.sample
.pytest_cache/
dist/
build/
tests/
uv.lock
.git
